@model BTL.ViewModels.HomeModel
@{
    ViewBag.Title = "Trang chủ";
}

<section class="padding-bottom-sm">
    <header class="section-heading heading-line">
        <h4 class="title-section text-uppercase">Danh mục</h4>
    </header>

    <div class="row row-sm">
        @foreach (var category in Model.Categories)
        {
            <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div class="card card-sm card-product-grid text-center">
                    <a href="" class="img-wrap">
                        <img src="@category.Picture.Url" alt="@category.Picture.Alt" title="@category.Picture.Title"/>
                    </a>
                    <figcaption class="info-wrap">
                        <p class="title text-center">@category.Name</p>
                    </figcaption>
                </div>
            </div>
        }
    </div>
</section>

<section class="padding-bottom-sm">
    <header class="section-heading heading-line">
        <h4 class="title-section text-uppercase">Sản phẩm</h4>
    </header>

    <div class="row row-sm">
        @foreach (var product in Model.Products)
        {
            <div class="col-12 col-md-4">
                <div class="card card-sm card-product-grid text-center">
                    <a class="img-wrap">
                        <img src="@product.PictureUrl" />
                    </a>
                    <figcaption class="info-wrap">
                        <p class="title">@product.Name</p>
                        <div class="price mt-1">@product.Price</div>
                    </figcaption>
                    <div class="my-2 d-flex justify-content-center">
                        <a class="btn btn-success" href='@Url.Action("Index", "Product", new { id = product.Id })'>
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span>Xem</span>
                        </a>
                        <button data-id="@product.Id" class="ml-2 btn btn-add-cart btn-primary">
                            <i class="pr-2 fa fa-shopping-cart" aria-hidden="true"></i>
                            <span>Thêm vào giỏ hàng</span>
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $(document).on('click', '.btn-add-cart', function (e) {
                const button = $(e.target).parent()[0];
                let productId = $(button).data('id');
                $.ajax({
                    url: '/Cart/AddToCart',
                    method: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'productId': productId,
                        'quantity': 1
                    }),
                    success: function (data) {
                        const { success, msg, number } = data;

                        if (!success) {
                            alert(msg);
                        }
                        else {
                            alert('Thêm vào giỏ hàng thành công')
                            
                           $('#cart').text(number);
                        }
                    },
                    error: function (err) {
                        console.log(err.responseText)
                    }
                })
            })
        })
    </script>
}

