@model BTL.Areas.Admin.ViewModel.CategoryModel
@{
    ViewBag.Title = "Tạo mới danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="py-1 px-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <h2 class="fw-bolder">Thêm mới danh mục</h2>
                <small class="ml-3 d-flex align-items-center">
                    <i class="px-2 text-primary fa fa-chevron-circle-left" aria-hidden="true"></i>
                    <a class="text-primary text-decoration-none fs-5" href='@Url.Action("Index", "Category")'>
                        Quay về trang chủ
                    </a>
                </small>
            </div>
            <div class="d-inline-block">
                <button id="btn-save-category" class="btn btn-primary">
                    Lưu
                </button>
                <button id="btn-saveAndEdit-category" class="btn btn-primary">
                    Lưu và sửa
                </button>
            </div>
        </div>
    </div>
    <p id="create-category-error" class="text-danger"></p>
    <div class="container-fluid mt-3">
        <div class="form-horizontal">
            <!--Thông tin danh mục-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                            <i class="fs-6 fw-light fa fa-info" aria-hidden="true"></i>
                            <p class="pt-2 px-4 fs-6">Thông tin danh mục</p>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <div class="float-end">
                                    <p class="fw-lighter">Tên danh mục</p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(p => p.Name, new { @id = "category-name", @type = "text", @class = "form-control form-control-sm", @placeholder = "Nhập tên danh mục" })
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <div class="col-md-3">
                                <div class="float-end">
                                    <p class="fw-lighter">Mô tả ngắn danh mục</p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(p => p.ShortDescription, new { @id = "category-shortDescription", @type = "text", @class = "form-control form-control-sm", @placeholder = "Nhập mô tả ngắn" })
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <div class="col-md-3">
                                <div class="float-end">
                                    <p class="fw-lighter">Mô tả danh mục</p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(p => p.Description, new { @id = "category-description", @type = "text", @class = "form-control form-control-sm", @placeholder = "Nhập mô tả" })
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <div class="col-md-3">
                                <div class="float-end">
                                    <p class="fw-lighter">Danh mục cha</p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownListFor(p => p.ParentCategoryId, ViewBag.AvaliableCategories as List<SelectListItem>, new { @id = "category-parentId", @class = "form-select form-select-sm" })
                            </div>
                        </div>
                        
                        @Html.Partial("_Upload", null, new ViewDataDictionary { { "PictureId", Model.PictureId }, { "PictureUrl", Model.PictureUrl } })
                    </div>
                </div>
            </div>
            <!--Hiển thị-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                            <i class="fs-6 fw-light fa fa-television" aria-hidden="true"></i>
                            <p class="pt-2 px-4 fs-6">Hiển thị danh mục</p>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="float-end">
                                <p class="fw-lighter">Trạng thái</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.CheckBoxFor(p => p.IsPublished, new { @id = "category-isPublished", @class = "form-check-input" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="float-end">
                                <p class="fw-lighter">Hiển thị trang chủ</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.CheckBoxFor(p => p.IsShowOnHomePage, new { @id = "category-isShowOnHomePage", @class = "form-check-input" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="float-end">
                                <p class="fw-lighter">Hiển thị trang tìm kiếm</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.CheckBoxFor(p => p.IsIncludeOnTopMenu, new { @id = "category-isIncludeOnTopMenu", @class = "form-check-input" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="float-end">
                                <p class="fw-lighter">Thứ tự</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(p => p.DisplayOrder, new { @id = "category-displayOrder", @type = "number",  @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <!--Seo-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                            <i class="fs-6 fw-light fa fa-globe" aria-hidden="true"></i>
                            <p class="pt-2 px-4 fs-6">Seo</p>
                        </div>
                        <div class="col-md-8"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row my-2">
                        <div class="col-md-3">
                            <div class="float-end">
                                <p class="fw-lighter">MetaTitle</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(p => p.MetaTitle, new { @id = "category-metaTitle", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <div class="col-md-3">
                            <div class="float-end">
                                <p class="fw-lighter">MetaKeyword</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(p => p.MetaKeyword, new { @id = "category-metaKeyword", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row my-2">
                        <div class="col-md-3">
                            <div class="float-end">
                                <p class="fw-lighter">Meta Description</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(p => p.MetaDescription, new { @id = "category-metaDescription", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        function validateCategoryForm() {
            var name = $('#category-name').val();

            if (name.length == 0) {
                $('#create-category-error').text("Nhập tên danh mục");
                return false;
            }

            return true;
        }

        function saveCategory(condtinueEdit = false) {

            let name = $('#category-name').val();
            let shortDescription = $('#category-shortDescription').val();
            let description = $('#category-description').val();
            let parentCategoryId = $('#category-parentId').val();
            let pictureId = $('#picture-id').text();
           
            let isPublished = $('#category-isPublished').is(':checked') ? true : false;
            let isShowOnHomePage = $('#category-isShowOnHomePage').is(':checked') ? true : false;
            let isIncludeOnTopMenu = $('#category-isIncludeOnTopMenu').is(':checked') ? true : false;
            let displayOrder = $('#category-displayOrder').val();
           
            let metaTitle = $('#category-metaTitle').val();
            let metaKeyword = $('#category-metaKeyword').val();
            let metaDescription = $('#category-metaDescription').val();

            $.ajax({
                url: '/Admin/Category/Create',
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    'Name': name,
                    'ShortDescription': shortDescription,
                    'Description': description,
                    'ParentCategoryId': parentCategoryId,
                    'IsPublished': isPublished,
                    'IsShowOnHomePage': isShowOnHomePage,
                    'IsIncludeOnTopMenu': isIncludeOnTopMenu,
                    'DisplayOrder': displayOrder,
                    'MetaTitle': metaTitle,
                    'MetaKeyword': metaKeyword,
                    'MetaDescription': metaDescription,
                    'PictureId': pictureId
                }),
                success: function (response) {
                    let { id } = response;

                    $('#loading').css({
                        'display': 'none'
                    })

                    alert('Thêm danh mục thành công');

                    let returnUrl = condtinueEdit ? "/Admin/Category/Edit/" + id : "/Admin/Category";

                    window.location.href = returnUrl;
                },
                error: function (err) {
                    console.log(err.responseText);
                }
            })
        }


        $(document).ready(function () {
            $('#btn-save-category').on('click', function (e) {

                if (!validateCategoryForm()) return;

                $('#loading').css({
                    'display': 'block'
                })

                saveCategory(false);
            })

            $('#btn-saveAndEdit-category').on('click', function (e) {

                if (!validateCategoryForm()) return;

                $('#loading').css({
                    'display': 'block'
                })

                saveCategory(true);
            })
        })
    </script>
}

